# Local Private Documentation
reportmodel.md
**/reportmodel.md
space.md
**/space.md
ragexplained.md
**/ragexplained.md
way.md
**/way.md
test.md
**/test.md
*.exe
**/*.exe
cloudflared_config.yml
**/cloudflared_config.yml
**/scratch/
**/__pycache__/
**/storage/
**/db/
*.log
**/*.log

